body {background-color: #1c1e1f}

.nas1 {color: white}

.topnav {background-color: white;
         font-size: 25px}

.ank1 {font-size: 25px;
       color: white;}
.slika1 {float: left;
         border-radius: 40px}