body {background-color: #1c1e1f}

.nas1 {color: white}
.nas2 {color: white}
.nas3 {color: white}
.par1{color: white;
	font-size: 25px}
.par2{color: white;
	font-size: 25px}
.par3{color: white;
	font-size: 25px}

.topnav {background-color: white;
         font-size: 25px}
.kraj {font-size: 20px;
       background-color: white}